.button {
  @include button;

  &--big {
    @include button-big;
  }

  &--disabled,
  &:disabled {
    color: white;
    background: $buttonDisabled;
    cursor: default;
  }

  &--secondary {
    background: $buttonSecondary;
    border: 1px solid $buttonSecondary;

    transition: background-color 0.5s ease, border-color 0.5s ease;
    color: $black-1;

    &:focus,
    &:hover {
      border-color: $blue;
      color: $blue;
      background: $buttonSecondary;
    }

    &:active {
      background: rgba(73, 108, 255, 0.1);
    }

    &:disabled {
      color: $grey-15;
      background: $buttonSecondary;
    }
  }
}
