
.category {

  &__inner {
    background: white;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-top: 1px solid transparent;
    @include laptop() {
      padding-bottom: 0;
      margin-bottom: 0;
      background: transparent;
    }
  }

  &__advantages {
    @include laptop() {
      display: none;
    }
  }

  &__item {
    width: 48%;
    margin-right: 4%;
    border: solid 1px #e7e7e7;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;

    &--shop {
      border: none;
      margin-bottom: 17px;
    }

    @media (max-width: $tablet-max-width) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include tablet() {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 16px;

      @media (max-width: $laptop-max-width) {
        &:nth-child(3n) {
          margin-right: 0;
        }
      }

    }
    @include laptop() {
      border: none;
      width: 23.2%;
      margin-right: 16px;
      margin-bottom: 16px;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    @include desktop() {
      width: 23.6%;
    }
  }

  &__list {
    flex-wrap: wrap;
    display: flex;
  }

  &__pagination {
    display: none;
    margin-top: 24px;
    @include desktop() {
      display: flex;
    }
  }

  &__similar-slider {
    display: none;
    background: transparent;

    .similar-slider {
      margin: 0;
    }

    @include laptop() {
      display: block;
      margin-top: 103px;
      margin-bottom: 50px;
    }

    @include desktop() {
      margin-bottom: 0;
    }
  }

  .section-header {
    @include desktop() {
      margin-bottom: 39px;
    }
  }

  &__sort {
    display: none;
    margin-left: auto;
    @include laptop() {
      display: flex;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet() {
      .tabs-nav--inner {
        margin-bottom: 0;
      }
    }
  }

}
