.checkbox {
  display: flex;
  position: relative;
  cursor: pointer;

  &__icon {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #B6BBCD;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 9px;
    }
  }

  input:checked + &__icon {
    background: $blue url(../assets/icons/checkbox.svg) no-repeat center 55%;
    background-size: 9px;
    border-color: $blue;
  }

  &__text {
    font-size: 14px;
    color: #222222;
    margin-left: 12px;
  }

  &__count {
    opacity: 0.8;
    color: #7b8197;
    margin-left: auto;
    font-size: 14px;
  }
}
