.notification-button {
  @include clearButton();
  text-decoration: none;
  position: relative;
  text-align: center;

  svg {
    display: flex;
  }

  @include tablet() {
    text-align: center;
    margin-top: 6px;
  }


  &__icon {
    display: block;
    margin: 0 auto;
    width: 28px;
    color: $blue;
    position: relative;
  }


  &__number {
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    border-radius: 9px;
    color: #ffffff;
    background-color: #496cff;
    position: absolute;
    padding: 3px 6px;
    top: 2px;
    line-height: 1;
    transform: translateY(-50%);
  }


  &__text {
    font-size: 12px;
    color: #496cff;
    margin-top: 3px;
    margin-bottom: 0;
  }
}
