.page {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 24px;
    align-items: center;
  }

  &__breadcrumbs {
    display: none;
    @include laptop() {
      display: block;
    }
  }

  &__title {
    font-weight: 600;
    color: #222222;
    font-size: 16px;
    @include laptop() {
      margin-top: 0;
      font-size: 32px;
    }
  }
  &__catalog-nav {
    display: none;
    @include laptop() {
      display: block;
    }
  }

  &__layout {
    @include laptop() {
      display: flex;
    }
  }

  &__aside {
    @include laptop() {
      width: 285px;
      margin-right: 16px;
      flex-shrink: 0;
    }
  }

  &__content {
    @include laptop() {
      flex: 1;
    }
  }
}
