.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 12px;
    line-height: 1.5;
    color: #222222;
  }

  &__content {
    //overflow: auto;
    flex: 1;
  }

  &__header {
    margin-bottom: 15px;

    @include laptop() {
      margin-bottom: 30px;
    }
  }

  &__close.close {
    position: absolute !important;
    right: 23px;
    top: 12px;
    @include clearButton();

    @include laptop() {
      right: 34px;
      top: 33px;
      width: 25px !important;
      height: 25px !important;
    }
  }
}

.v--modal-box {
  background: white;
  border-radius: 4px;

  @include laptop() {
    border-radius: 8px;
  }
}


.paginator {
  @include clearList();
  border-radius: 3px;
  border: solid 1px #ededed;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #222222;

  li {
    border-right: 1px solid #ededed;

    &:last-child {
      border-right: none;
    }
  }

  li a {
    padding: 10px;
    min-width: 42px;
    display: block;
    text-align: center;
  }

  li:first-child a {
    padding: 10px 22px 10px 34px;
  }

  li:last-child a {
    padding: 10px 34px 10px 14px;
  }

  .active a {
    background-color: #b6bbcd;
    color: #ffffff;
  }

  .disabled a {
    opacity: 0.8;
    font-size: 14px;
    color: #7b8197;
  }
}

.slick-track {
  display: flex;
  height: 100%;
}

.profile-page {
  margin-top: 20px;

  @include laptop() {
    margin-top: 40px;
  }
}
