@import 'variables';

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin laptop {
  @media #{$laptop} {
    @content;
  }
}

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin container() {
  max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@mixin clearList() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin favButton() {
  border: none;
  padding: 0;
  background: none;
  color: $blue;
}

@mixin loader($color: $red) {
  border: 4px double;
  border-radius: 50%;
  border-color: transparent $color $color;
  animation: loader-spin 690ms infinite linear;
}

@mixin arrow-down($color: #666666) {
  width: 14px;
  height: 14px;
  border: 2px solid $color;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
}

@mixin clearButton() {
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  border: none;
}

@mixin close() {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;

  flex-shrink: 0;
  font-size: 0;
  cursor: pointer;
  display: block;
  transition: opacity .5s ease;
  position: relative;

  &:hover {
    opacity: 1;
  }

  &:after, &:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #a6acc2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.close {
  @include clearButton();
  @include close();
}


@keyframes loader-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes loader-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader-spin {
  100% {
    transform: rotate(360deg);
  }
}
