$desktop: "(min-width: 1210px)";
$laptop: "(min-width: 1024px)";
$tablet: "(min-width: 768px)";
$mobile: "(max-width: 768px)";

$desktop-width: "1210px";
$laptop-width: "1024px";
$tablet-width: "768px";

$tablet-max-width: '767px';
$laptop-max-width: '1023px';
$desktop-max-width: '1209px';


$blue: #496cff;
$blue-2: #61a7ff;
$background-color: #f7f7fa;

$black-1: #222;
$grey-1: #f5f5f5;
$grey-2: #7b8197;
$grey-3: #f7f7fa;
$grey-4: #e9e5e5;
$grey-5: #ededed;
$grey-6: #dfdfdf;
$grey-7: #e2e2e2;
$grey-8: #91949d;
$grey-9: #eceef7;
$grey-10: #f8f9ff;
$grey-11: #d3d4d9;
$grey-12: #f5f7f9;
$grey-13: #eef2f5;
$grey-14: rgba(69, 76, 91, 0.4);
$grey-15: #b6bbcd;
$red-1: #E53333;
$green-1: #28d65d;

$iconGray: $grey-2;

$facebookColor: #3B5998;
$okColor: #FF9800;
$vkColor: #4D76A1;
$mailColor: #ffa040;

$buttonSecondary: #F5F7FB;
$buttonHover: #345BFF;
$buttonActive: #1F44DE;
$buttonDisabled: $grey-15;

$font_regular: 400;
$font_bold: 700;
$font_semibold: 600;
$font_light: 300;

$openSans: 'Open Sans', Arial, sans-serif;
