$desktop: "(min-width: 1296px)";
$laptop: "(min-width: 1024px)";
$tablet: "(min-width: 768px)";
$mobile: "(max-width: 768px)";

$desktop-width: "1296px";
$laptop-width: "1024px";
$tablet-width: "768px";

$tablet-max-width: '767px';


$background-color: #f7f7fa;
