$desktop: "(min-width: 1296px)";
$laptop: "(min-width: 1024px)";
$tablet: "(min-width: 768px)";
$mobile: "(max-width: 768px)";

$desktop-width: "1296px";
$laptop-width: "1024px";
$tablet-width: "768px";

$tablet-max-width: '767px';
$laptop-max-width: '1023px';
$desktop-max-width: '1295px';


$blue: #496cff;
$background-color: #f7f7fa;

$black-1: #222;
$grey-1: #f5f5f5;
$grey-2: #7b8197;
$grey-3: #f7f7fa;
$grey-4: #e9e5e5;
$grey-5: #ededed;
$grey-6: #dfdfdf;
$grey-7: #e2e2e2;
$red-1: #e53333;
$green-1: #28d65d;

$iconGray: #7B8197;

$facebookColor: #3B5998;
$okColor: #FF9800;
$vkColor: #4D76A1;
$mailColor: #ffa040;
